/* Color Theme Swatches in Hex /
.paleta-de-colores-para-proyecto-de-web-1-hex { color: #3C08A3; }
.paleta-de-colores-para-proyecto-de-web-2-hex { color: #7733FF; }
.paleta-de-colores-para-proyecto-de-web-3-hex { color: #6119F0; }
.paleta-de-colores-para-proyecto-de-web-4-hex { color: #A39A00; }
.paleta-de-colores-para-proyecto-de-web-5-hex { color: #F0E318; }

/ Color Theme Swatches in RGBA /
.paleta-de-colores-para-proyecto-de-web-1-rgba { color: rgba(60, 8, 163, 1); }
.paleta-de-colores-para-proyecto-de-web-2-rgba { color: rgba(119, 51, 255, 1); }
.paleta-de-colores-para-proyecto-de-web-3-rgba { color: rgba(97, 25, 240, 1); }
.paleta-de-colores-para-proyecto-de-web-4-rgba { color: rgba(163, 154, 0, 1); }
.paleta-de-colores-para-proyecto-de-web-5-rgba { color: rgba(240, 227, 24, 1); }

/ Color Theme Swatches in HSLA 
.paleta-de-colores-para-proyecto-de-web-1-hsla { color: hsla(260, 90, 33, 1); }
.paleta-de-colores-para-proyecto-de-web-2-hsla { color: hsla(260, 100, 60, 1); }
.paleta-de-colores-para-proyecto-de-web-3-hsla { color: hsla(260, 87, 51, 1); }
.paleta-de-colores-para-proyecto-de-web-4-hsla { color: hsla(56, 100, 31, 1); }
.paleta-de-colores-para-proyecto-de-web-5-hsla { color: hsla(56, 87, 51, 1); }
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
	background-color: #181919;
    font-family: Open Sans,sans-serif;
}

.container{
	width:100%;
	margin:0 auto;
	position:relative;
}

.header {
    width: 100%;
    height: 65px;
    padding: 5px;
    background-color: #3C08A3;
}

/*@media (max-width: 650px)*/
.header .header-logo {
    width: 100px;
    height: 50px;
    position: absolute;
    left: 30px;
    padding: 5px 5px 5px;
    float: left;
}

.header .header-logo img{
	max-width: 100px;

}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}

.header .header-right {
    padding: 15px 5px;
}

.header .header-right .header-menu {
	margin-top: 3px;
}
.header .header-right .header-menu, .header .header-right .header-search {
    padding: 0 10px;
}

li {
    list-style-type: none;
}

.header .header-right .header-menu ul li {
    float: left;
    margin-right: 20px;
}

.header .header-right .header-menu ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
a {
    text-decoration: none;
}
.header .header-right .header-menu ul li a i {
    margin-right: 5px;
}

i {
    font-style: italic;
}

.header-user {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2px;
    position: relative;
    cursor: pointer;
}

.header-user img {
    margin-right: 5px;
}

.header-user i {
    color: #fff;
    font-size: 14px;
}

.header-user .dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    min-height: 70px;
    background: #fff;
    width: 150px;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0,0,0,.075);
    display: none;
    cursor: default;
    z-index: 3;
    font-size: 12px;
}

.header-user .dropdown:after {
    content: "";
    position: absolute;
    top: -7px;
    right: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px;
    border-color: transparent transparent #fff;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

b {
    font-weight: bold;
}

.header-user .dropdown p {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.divider {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 8px 0;
}

.header-user .dropdown .btn {
    width: 100%;
    font-size: 12px;
    height: 28px;
    line-height: 26px;
    margin: 5px 0;
}

.btn {
    display: inline-block;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
    border-radius: 20px;
    color: #fff;
    background: #0b476b;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    border: 0;
    cursor: pointer;
}

.header-user .dropdown .btn i {
    font-size: 15px;
    margin-left: 5px;
    position: relative;
    bottom: -1px;
}

.header-user i {
    color: #fff;
    font-size: 14px;
}

.btn i {
    font-size: 22px;
}

.header .header-right .header-search {
    display: table;
    margin-top: -4px;
}

.header .header-right .header-search input {
    height: 35px;
    border-radius: 4px 0 0 4px;
    padding: 0 10px;
    font-size: 15px;
}

.header .header-right .header-search .icon, .header .header-right .header-search input {
    display: table-cell;
}

input {
    border: none;
}

.header .header-right .header-search .icon {
    width: 35px;
    height: 35px;
    font-size: 19px;
    background-color: #158e00;
    border-radius: 0 4px 4px 0;
    vertical-align: middle;
}

.text-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.main {
    min-height: calc(100vh - 130px);
}
.main {
    color: #fff;
    background-color: #7733FF;
}

.main .main-left {
    width: 235px;
    float: left;
    padding: 20px;
    min-height: 300px;
    height: auto;
}

.main .main-left .genres {
    max-height: 368px;
    transition: max-height .15s ease-out;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px;
}

.main .main-left h2 {
    font-size: 13px;
    margin-bottom: 15px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.main .main-left .genres ul li a {
    color: hsla(0,0%,100%,.9);
    display: block;
    margin-bottom: 5px;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    padding-bottom: 4px;
    font-size: 13px;
}

.main .main-left .genres ul li a i {
    margin-right: 8px;
}

.main .main-left .genres ul li a {
    color: hsla(0,0%,100%,.9);
    display: block;
    margin-bottom: 5px;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    padding-bottom: 4px;
    font-size: 13px;
}

.main .main-left .genres ul li a .cant-genre {
    font-size: 15px;
}

.main .main-left .genre-more {
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 700;
}

.main .main-left .genre-more a {
    color: #fff;
}

.main .main-left .years ul li {
    float: left;
    margin-right: 8px;
    margin-bottom: 15px;
}

.main .main-left .years ul a {
    padding: 5px 13px;
    background-color: rgba(0,0,0,.25);
    color: hsla(0,0%,100%,.75);
    font-size: 13px;
    border-radius: 7px;
}


.main .main-center img{
     width: 273px;
     height: 364px;
}


.paleta-de-colores-para-proyecto-de-web-1-hex { color: #3C08A3; }
.paleta-de-colores-para-proyecto-de-web-2-hex { color: #7733FF; }
.paleta-de-colores-para-proyecto-de-web-3-hex { color: #6119F0; }
.paleta-de-colores-para-proyecto-de-web-4-hex { color: #A39A00; }
.paleta-de-colores-para-proyecto-de-web-5-hex { color: #F0E318; }