/* Color Theme Swatches in Hex /
.paleta-de-colores-para-proyecto-de-web-1-hex { color: #3C08A3; }
.paleta-de-colores-para-proyecto-de-web-2-hex { color: #7733FF; }
.paleta-de-colores-para-proyecto-de-web-3-hex { color: #6119F0; }
.paleta-de-colores-para-proyecto-de-web-4-hex { color: #A39A00; }
.paleta-de-colores-para-proyecto-de-web-5-hex { color: #F0E318; }
*/
*{
	font-family: Open Sans,sans-serif;
}	
}
body{
	width: 100%;
	height: auto;
	margin: 0;
}
#container{
	width:100%;
	height: 100%;
	margin:0;
	position:relative;
}
/*====================
	header-star
====================*/
#header{
	width: 100%;
	background-color: #3C08A3;
	display: inline-flex;
}
#header .logo{
	width: 35%;
	height: 100%;
	float: left;
	margin-left: 5%;
}
#header .logo img{
	width: 120px;
}
#header .links{
	width: 50%;
	float: right;
	margin-left: 10%;
}
#header .links ul{
	list-style: none;
	display: inline-flex;
	padding: 0;
	margin: 0;
}
#header .links ul li{
	padding: 0 1em 0 1em;
}
#header .links img{
	width: 30px;
}
#header .links ul li a{
	text-decoration: none;
	color: white;
}
#header .links ul li a:hover{
	border-bottom-style: solid 3px #D32F2F;
	color: #FFCDD2;
}
#header .buscador{
	display: inline-flex;
	margin-top: 17px;
}
#header .buscador input{
	border-radius: 20px;
	padding: 7px;
}
#header .user{
	display: inline-flex;
	width: 70px;
	margin-top: 17px;
}
/*====================
	header-end
====================*/
/*====================
	login-star
====================*/
#login{
	width: 100%;
	height: 440;
	padding: 6em 0 5em 0;
	margin:0;
	background-image: url("../img/login/bg.jpg");
	background-size: contain;
	align-content: center;
}
#login .container{
	
	width: fit-content;
	
	margin-left: 37%;
}
#login img{
	width: 50px;
}
#login fieldset{
	text-align: center;
	background-color: #7733FF;
	border: solid 5px #3C08A3;
	border-radius: 20px;
	box-shadow: 20px 20px 20px 20px rgb(0,0,0,0.7);
} 
#login legend{
	background-color: #7733FF;
	border: solid 5px #3C08A3;
	border-bottom: none;
	border-radius:5px;

}
#login form{
	text-align: center;
}
#login  input{
	margin-bottom: 10px; 
	margin-left: 4em;
	display: block;
	width: fit-content;
	border-radius: 20px;
	align-content: center;
	padding: 10px;
}
#login button{
	background: #3C08A3;
	color: white;
	padding: 10px;
	border-radius: 10px;
	border:solid 3px #35098E;
}
#login button:hover{
	background-color: #35098E;

}
#login a{
	color: white;
}
#login a:hover{
	color: #3C08A3;
}
/*====================
	login-end
====================*/
/*====================
	footer-start
====================*/
#footer{
	width: 100%;
	background-color: #3C08A3;
}
#footer .title{
	padding-top: 1em;
	width: 100%;
	text-align: center;
	color :white;
	font-size: 10pt;
}
#footer .social-links{
	width: 30%;
	margin-left: 35%;
}
#footer .social-links ul{
	list-style: none;
	display: inline-flex;
}
#footer .social-links li{
	margin: 15px;
	background-color: #4CF7B5;
	width: fit-content;
	border-radius: 100%;
}
#footer .social-links li:hover{
	background-color: #4BD9A2;
}
/*====================
	footer-end
====================*/